@font-face {
		font-family:'Gilroy ExtraBold';
		src: 
		
		url("../fonts/Gilroy_ExtraBold/Gilroy-ExtraBold.woff") format('woff');
	}

* {
  padding: 0;
  margin: 0;
}

html, body {
/*  width: 100%;
  height: 100%;*/
  overflow-x: hidden;
}

body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color:#000000;
	font-family:'Open Sans Light', Arial, sans-serif;
	background-color: #ffffff;
	letter-spacing: 0.01em;

	}
		/*---header-------------start--------------*/


a{
		text-decoration: none;
	}
	
	.main-header{
		color:#000000;
	}

.main-header
{
		margin: 40px auto;
}
	
.container{
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;

}

.main-navigation
{
	width: 1040px;
	padding: 0 80px;
}

	.main-navigation{
		display: flex;
		flex-direction: column;
		background-color: #f7e296;
		min-height:186px;
	}




  	.main-navigation a{
  		color: #000;
  	}

	.main-navigation a.main-header-logo{
		color: #000000;
		width: 200px;
		align-self: flex-start;
		margin-top: -25px;
		margin-bottom: 36px;
		display: block;
		min-height: 42px;
		
	}

	.main-navigation .logotype, 
	footer .logotype
	{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		text-transform: uppercase;
		font-weight: bold;
		
	}

	.search-and-user-links-wrap{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	.header-user-navigation
	{
		display: flex;
		position: relative;
		flex-wrap: wrap;
		max-width: 224px;

	}
.header-user-navigation a{
	display: block;
}

.header-user-navigation a.account-link,
.footer_user-navigation a.account-link
{

	position: relative;
	padding-left: 26px;

}

	.header-user-navigation li:nth-child(2n+1)
{
	margin-right: 20px;

}


.header_user-and-product-nav{

	margin: 0;
	margin-left: auto;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 215px;

}


	.header-user-navigation .account-link:before,
	.footer_user-navigation .account-link:before
	{
		position: absolute;
		content: "";
		top: 9px;
  	left: 0;
		width: 13px;
   	height: 12px;
		background-image: url(../img/user.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	.compare-link{
		position: relative;
		padding-left: 23px;
	}


	.header_user-and-product-nav .compare-link:before,
	.footer-product-nav .compare-link:before
	{
		position: absolute;
		content: "";
		top: 9px;
  	left: 0;
		width: 13px;
   	height: 12px;
		background-image: url(../img/compare.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	.cart-link
	{
		position: relative;
		padding-left: 23px;
	}


	.header_user-and-product-nav .cart-link:before,
	.footer-product-nav .cart-link:before
	{
		position: absolute;
		content: "";
		top: 9px;
  	left: 0;
		width: 12px;
   	height: 12px;
		background-image: url(../img/cart.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}



	.catalog-name{
		position: relative;
		width: 500px;
		margin-right: 40px;
		
	}

	.catalog-list-title
	{
		position: relative;
		display: block;
		width: 247px;
	}

	.catalog-list-title:hover ~.sub-menu{
		display: flex;
	}

	.catalog-list-title:after 
	{
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		top: 4px;
		right:0px;
		background-image: url(../img/plus.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
	}

.product-item-list{
	margin: 0;
	padding: 0;
}

.sub-menu{
  display: none;
	width: 1200px;
	position: absolute;
  left: -80px;
	top: 25;
	min-height: 100px;
	font-weight: normal;
	padding-top: 24px;

  background-color: #f7e296;
  box-sizing: border-box;
  z-index: 1000;
    border: 1px solid #000;



}

.sub-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 200px;
	min-height: 100px;
}



/*#catalog:hover  #subMenu
	{
		display: flex;
		z-index: 100;
		
	}*/

.sub-menu ul.product-item-list_2
	{
	margin-left: 56px;
	}

.sub-menu ul li a{
	letter-spacing: 0.01em;
	font-size: 15px;
	line-height: 36px;
	font-weight: normal;
	text-transform: inherit;
	font-family: "Open Sans Light", Arial, sans-serif;
}


	.site-navigation a,.catalog-name a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 0.2em;


	}


  .catalog-and-site-nav-links-wrap{
  	display: flex;
  	line-height: 24px;
  	min-height: 24px;
  	margin-bottom: 50px;
  }

.site-navigation{
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 0.2em;

}


.site-navigation li:nth-child(3n+1)
{
	margin-right: 39px;
}
.site-navigation li:nth-child(3n+3)
{
	margin-left: auto;
}




	.btn-details  {
		min-width: 220px;

	}
	a.button{
		display: inline-block;
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
		line-height: 24px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		background-image: linear-gradient(transparent 0%, transparent 40%,
		  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );
		margin-left: 100px;
		padding: 10px 5px;		
		color: #000000;
		text-align: center;
		
	}
	.button:hover{
		background-color: #f0c52e;


	}

	.btn-cart
	{
		margin-bottom: 21px;
	}

	.add-compare
	{
		color: rgba(0, 0, 0, .5);
		border: none;
		font-size: 13px;
		background-color: transparent;
	}
	.add-compare:hover
	{
		color: rgba(0, 0, 0, 1);
	}
		.add-compare:active
	{
		color: rgba(0, 0, 0, .2);
	}



	.button:active{
		color: rgba(0,0,0,0.3);
		opacity: 0.8;
	}

	form.input-group{
		font-size: 0;
		position: relative;
		padding-bottom: 15px;
		height: 16px;
		border-bottom: 2px solid transparent;

	}

	form.input-group button{
		visibility: hidden;
	}

	form.input-group button:hover{
		background-color: #000;
		color: #fff;
	}


	form.input-group button:active{

	  background-color: #000;
		color: rgba(255, 255, 255, .3);

	}

.search-on-site
{
	margin-right: 40px;
	width: 500px;
}

	.search-on-site input.form-control
	{
      position: relative;
      top: -2px;		
      width: 200px;
      height: 16px;
      font-size: 15px;
      padding: 0;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 2px solid transparent;
   		    
	}

	.input-group:has(input:focus)
	{
		width: 356px;
		border-bottom: 2px solid #000;

	}


	.search-on-site input::placeholder{
		color:rgba(0, 0, 0, 0.3);
		font-size: 15px;

	}
	.search-on-site input:focus{
		outline: 0;
	
	}

button.btn-search-submit
   {
			position: absolute;
			border: 2px solid #000;
			background-color:rgba(0, 0, 0, 0);
			color: #000;
			width: 85px;
    	height: 49px;
	    top: -16px;
	  	left: 356px;
    	font-size: 15px;

}

.search-on-site input:focus ~ button.btn-search-submit
{
	 visibility: visible;
	}

.header_user-and-product-nav > li > a{
	display: block;
	line-height: 30px;

}


	.main-navigation a:hover,
	.navbar-search input:hover::placeholder{
		opacity: 0.6;
	}
	
	.main-navigation a:focus,
	.navbar-search input:focus::placeholder
	
	{
		opacity: 0.3;
	}



  .header_user_product{
  	padding-left: 0;
  }

 .dropdown-box-catalog
 {
 	width: 50%;
 }
a.catalog-list-title{
	margin-left: 0;
}

.main-navigation svg{
	margin-right: 10px;
}



.header_user-and-product-nav li a 
{
	font-size: 15px;
}




.header_user-and-product-nav .icon-compare,
.footer_user-navigation .icon-compare

{
    
  background-image: url("../img/compare.svg");
  margin: 0 8px 0 0;
  width: 10px;
  height: 10px;

}


.header_user-and-product-nav li:nth-child(2n+1),
.footer-product-nav li:nth-child(2n+1)

{
	margin-right:35px;
}

/*.header_user-and-product-nav li:last-child{
	 margin-left: auto;
}
*/

.header_user-and-product-nav li:nth-child(3){

	margin-right: 35px;

}

.login-link{
	opacity: 0.3;
}

.search-product-icon{
	font-size: 15px;
	line-height: 0px;
	margin-right: 19px;
	width: 16px;
	height: 16px;
	background-image: url("../img/search.svg");
}



	/*-------------header---ends--------------*/


	/*----------------main-container----start----------*/

/*-----------------------------------------------------*/	
	.container h1{
		margin: 0;
		padding: 0;
		font-family: "Gilroy Extra Bold", Arial, sans-serif;
		font-size: 47px;
		line-height: 48px;
		letter-spacing: 1px;
		margin-bottom: 29px;
		padding-left: 60px;


	}
section.filter_product{
	background-color: #efefef;
	width: 330px;

	position: relative;
}
section.filter_product:after{
position: absolute;
content: "";
background-color: #efefef;
height: 100%;
width: 1000%;
right: 100%;
top: 0;

}

	ul.breadcrumbs {
		font-size: 14px;
		line-height: 24px;
		list-style: none;
		margin-bottom: 50px;
		padding-left: 60px;
		
	}
	ul.breadcrumbs a{
		color: rgba(0,0,0,0.3);
	}
	ul.breadcrumbs a:hover{
		color: rgba(0,0,0,0.6);
	}
	ul.breadcrumbs a:active{
		color: rgba(0,0,0,0.1);
	}


.breadcrumbs li{
	position: relative;
	display: inline-block;
	margin-right: 40px;
}

.breadcrumbs li:last-child{

	margin-right: 0;
}

.breadcrumbs li:after{
position: absolute;
content: "";
top: 10px;
right: -23px;
width: 5px;
height: 8px;
background-image: url("../img/nav-arrow-1.svg");
background-repeat: no-repeat;
background-position: 0 0;

}


.breadcrumbs-current:after
{
	display: none;

}
.catalog-columns{
	display: flex;
	
}
.sorter-filter-title{
		background-color: #efefef;
		height: 100px;
}

.range-controller
{
	position: relative;
	margin-bottom: 9px;
}


.scale{
	height: 2px;
	width: 100%;
	background-color: #dbdbdb;
}

.bar{
	width: 60%;
	height: 2px;
	background-color: #91c92f;
}

.toggle
{
	position: absolute;
	padding: 0;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background-color: #ababab;
	border-radius: 50%;
	top: -10px;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.toggle-min
{
	left: 0;
}


.toggle-max
{
	left: 60%;
}

.price-controls
{
	font-size: 0;
}

.price-controls label{
	display: inline-block;
  width: 45%;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, .2);
	font-family: "Gilroy Light", Arial, sans-serif;


}



.price-controls  input{
	margin-left: 5px;

	width: 50px;
	border: none;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, .2);
	background-color: transparent;


}

.range-filter
{
	margin-top: 70px;
	margin-bottom: 30px;

}

/*
.range{
	margin-top: 55px;
}


.range-slider {
  height: 3px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 0%;
  right: 20%;
  position: absolute;
  border-radius: 5px;
  background-color:#91c92f;
  
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -3px;
  left: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: left;

}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
 margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-price input {
  border:none;
  width: 60px;
  background: transparent;

}
.range-price input:first-of-type {
  margin-right: 15px;
}*/*/



/*fieldset{
	background-color: #efefef;
}
*/
.range-price label, .range-price input{
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,0.2);

}


/*-----------------------------------------------------*/	

form.filter{
	margin-top: 70px;
	padding-left: 60px;
	padding-right: 70px;
}


.filter fieldset{

	border-top: 4px solid #000;
	position: relative;
	min-height: 125px;

}



fieldset.color-product
{
	padding-bottom: 38px;
}



.filter_product_title{

 position: relative;

}

.filter_product_title:after{
	position: absolute;
	content: "";
	width: 100vw;
	right: 100%;
	top: 0;
	height: 70px;
	background-color: #dbdbdb;
	z-index: 111;
}


.filter_product .filter_product_title{

 font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	background-color: #dbdbdb;
	margin: 0;
	height: 48px;
	padding-top: 22px;
	padding-left: 60px;
	text-transform: uppercase;
	letter-spacing: 0.2em;



}
/*form.filter{
	position: relative;
	padding-left: 172px;
	margin-top: 60px;
}*/
/*form.filter:after{
	position: absolute;
	content: "";
	width: 1000%;
	right: 100%;
	height: 1220px;
	top: 0;
	background-color: #efefef;
}
*/

.filter_product legend{
	font-family: "Gilroy Extra Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	position: absolute;
	left: 0;
	top: 13px;


}

.filter_product ul{
   margin-top: 50px;
   list-style: none;

}


.filter_product input[type="checkbox"], input[type="radio"]{
	opacity: 0;
}



.filter-option{
	padding-left: 40px;
	position: relative;
}

.color-product input[type="checkbox"] + label::before{
	position: absolute;
	top: 9px;
	left: 0;
	cursor: pointer;
	content: "";
	width: 24px;
	height: 24px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}



.color-product input[type="checkbox"]:checked + label::before{
	position: absolute;
	top: 10px;
	left: 0;
	width: 27px;
	height: 24px;
	background-image: url("../img/checkbox-on.svg");
}


.color-product input[type="checkbox"]:checked + label:hover::before,
.color-product input[type="checkbox"] + label:hover::before
{
	opacity: 0.6;
}


.color-product input[type="checkbox"][disabled] + label,
 .color-product input[type=checkbox][disabled][checked] + label{
	
	color:#a6a6a6;
}


.color-product input[type="checkbox"][disabled] + label:before,
.color-product input[type="checkbox"][disabled][checked] + label:before {
       opacity: 0.25;
}

.bluetooth ul li:first-child
{
	margin-bottom: 20px;
}



.bluetooth input[type="radio"] + label::before{
	position: absolute;
	top: 8px;
	left: 0;
	content: "";
	width: 27px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
}

.bluetooth input[type="radio"]:checked + label::before{
	position: absolute;
	width: 27px;
	height: 25px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
}

.bluetooth input[type="radio"] + label:hover::before{
	opacity:0.6 ;
}


.bluetooth input[type="radio"][checked] + label:active::before{
	background-image: url("../img/radio-off.svg");

}
.bluetooth input[type="radio"] + label:active::before{
	background-image: url("../img/radio-on.svg");
	opacity: 1;
	
}

/*.bluetooth input[type="radio"][disabled][checked] + label::before,
.bluetooth input[type="radio"][disabled] + label::before
{
	
	opacity: 0.25;
}*/

.bluetooth input[type="radio"][disabled][checked] + label,
.bluetooth input[type="radio"][disabled] + label
{
	
	color: #000000;
}


.form-control option:hover{
	opacity: 0.5;
}


.filter-option label{
		font-family: 'Open Sans Light', Arial, sans-serif;
		font-size: 14px;
		line-height: 40px;
}


.sort-product ul{
	list-style: none;

}
.sorter h2{
	padding-top: 22px;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size:16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

}
.sort-product .sorter{
	display: flex;
	background-color: #efefef;
	padding-left: 72px;
	height: 70px;
	position: relative;
	margin-bottom: 69px;
}
.sort-product .sorter:after{
	position: absolute;
	content: "";
	background-color: #efefef;
	width: 1000%;
	left: 100%;
	height: 70px;

}

.sort-list{
	display: flex;
	margin-top: 18.6px;
	margin-bottom: 18.6px;
	margin-left: 56px;
}
.sort-list li{
	margin-right: 32px;
}
.sort-list li:first-child{
	margin-right: 30px;
}
.sort-list li:last-child{
	margin-right:0;
}
.btn-group.pull-right{
	display: flex;
	margin-left: auto;
}



.catalog-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.sort-product .catalog{
	padding-left: 72px;
	width: 760px;

}
.title-container{
	width: 1160px;
	margin: auto;
}

.sort-product .sort-list a{

	color: rgba(0,0,0,0.3);
	font-family: "Open Sans Regular", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.sort-product .sort-list .by_price a
{
	color: #000;
}

.sort-product .sort-list a:hover{
	color: rgba(0,0,0,0.6);
}
.sort-product .sort-list a:active{
	color: inherit;
}

.btn-group.pull-right button{
	background-color: transparent;
	border:none;
}

.btn-group.pull-right button img{
	opacity: 0.2;
}

.btn-group.pull-right button:hover img{
	opacity: 0.4;
}

.btn-group.pull-right button:active img{
	opacity: 1;
}

.btn-sort.btn-sort-down.active img{
	opacity: 1;
}


	button.button  {
		border:none;
		background-color: transparent;
		min-width: 190px;

	}

	button.button{
		display: inline-block;
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		background-image: linear-gradient(transparent 0%, transparent 40%,
		  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );
		padding: 8px 37px 8px 36px;		
		color: #000000;
		text-align: center;
		
	}



	button:hover,
	button:focus,
	{
	  transition: .12s;
		background-color: #f0c52e;
	}


	button.button:active{
		color: rgba(0,0,0,0.3);
		opacity: 0.8;
	}

    .catalog .catalog-list{
    	list-style: none;
    }
  

     .add-cart-hover a{
     	color: #000;
     }

     .add-cart-hover a:hover
     {
    	color: rgba(0,0,0,0.2);
     }

   
	 .add-cart-hover
	 {
	 	   position: absolute;
	 	   top: 0;
	 	   left: 0;
	 	   padding-top: 152px;
	     display: none;
		   width: 100%;
	 	   height: 228px;
		   text-align: center;
		   background-color: rgba(238, 238, 238, 0.7);
       cursor: pointer;


	   
	   }

	  .catalog-item:hover .add-cart-hover,
	  .catalog-item:focus .add-cart-hover

  {
  	    display: block;
  	 /*   display: -webkit-box;
  	  -webkit-box-align: center;
			-webkit-box-pack: center;*/
  	 
	}


    img
    {
    	max-width: 100%;
    	height: auto;
    }


  .catalog-item .catalog-item-title{
  	color: #000000;
  	font-family: "Gilroy Extra Bold", Arial, sans-serif;
		font-size: 16px;
		line-height: 24px;
	
  }

   
  .catalog-item-price
   {
  font-family: "Gilroy-Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #464646;

  }

.title-and-price-wrapper
{
	display: flex;
	justify-content: space-between;
	order: 1;

}

.catalog-item-image img.img-icon-new{
	width: 60px;
	height: 60px;
}


.catalog-item{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 360px;
	margin-right: 40px;

}
.catalog-item:nth-child(2n)
{
	margin-right: 0;
}

.catalog-item h3
{
	width: 280px;
}


 .catalog-item-image{

 	width: 360px;
 	height: 380px;
 	margin-bottom: 31px;
 	position: relative;

 } 

.icon-new{
    position: absolute;
    right: 29px;
    top: 29px;
    border: 2px solid #d6d6d6;
    width: 56px;
    height: 42px;
    text-align: center;
    font-size: 14px;
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    padding-top: 14px;
}
.catalog-list li
{
	margin-bottom: 72px;
}

.catalog-list li:nth-last-child(-n + 2)


{
	margin-bottom: 56px;
}


	/* -----:nth-last-child(2)----------------pagination	*/

.pagination ul{
	  list-style: none;
}
.pagination ul a{
	  font-family: "Gilroy Extra Bold", Arial, sans-serif;
		font-size: 16px;
		
		color: rgba(0,0,0,0.3);
}

.pagination ul a:hover{
	color: rgba(0,0,0,0.6);
}
.pagination ul a:active{
	color: rgba(0,0,0,1);
}

.pagination{

	height: 100px;
	width: 760px;
	height: 70px;
	padding-left: 72px;
	margin-bottom: 77px;

}

.pagination-block{

	display: flex;
	justify-content: space-between;
	background-color: #ebebeb;
	
}

.btn-pagination{
	border:none;
	background-color: transparent;
	font-family: "Gilroy Extra Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 900;
	text-transform: uppercase;
	width: 110px;
	height: 60px;

}

.btn-pagination:hover{
	background-color:#d9d9d9;
}

.btn-pagination:active{
	color: rgba(0,0,0,0.3);
}


.btn-pagination.btn-back{
	left: 1px;
	
}
.btn-pagination.btn-next{

	right: 1px;
}

.pagination-list{
	margin-top: 20px;
}

.pagination-list li{
	width: 40px;
	display: inline-block;
}


.pagination-list .pagination-item-current{
	color: #000000;
}
/* ---------------------pagination	*/
/*




	/*----------------main-container----end----------*/


		/*----------------footer----start----------*/

.main-footer{
		height: 320px;
		background-color: #464646;
		box-sizing: border-box;
		padding-top: 60px;
	}


	footer .logotype{
		color: #ffc600;
		margin-bottom: -75px;
		line-height: 38px;
	}



	.main-footer .container{
		display: flex;
		justify-content: space-between;
		height: 204px;

	}

.footer_contacts_line{
	display: inline-block;
	margin: 0;
	width: 40%;
	background-color: #ffc600;
	height: 6px;
	border: none;
	margin-bottom: 12px;

	
}
.footer-contacts-and-logo{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 300px;
	color: #fff;

}


	.footer-contacts .logotype{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		color: #ffc600;
		text-transform: uppercase;
		font-weight: bold;

	}

	.footer-social-and-services{
		text-align: center;
		width: 440px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

.footer_services a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		list-style: none;

	}
	.footer_services{
		list-style: none;
		padding-left: 0;
		margin-top: 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

	}
		

	.footer_social{
	
		font-size: 0;
		padding-left: 0;
		margin-top: 50px;
		height: 34px;

	}
	.footer_social li
	{
		display: inline-block;
		margin-right: 22px;
	}

	.footer_social li:last-child{
		margin-right: 0;
	}

	.footer_social img{
		opacity: 0.3;
	}
 	.footer_social li:nth-child(n+1){
 	}
.footer_user-navigation
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 263px;
/*	position: absolute;
	width: 480px;
  right: 0;*/
}

.footer_user-navigation .account-link:before
{
	background-image: url("../img/user-footer.svg");
}
.footer-product-nav .compare-link:before
{
	background-image: url("../img/compare-footer.svg");
}
.footer-product-nav .cart-link:before
{
	background-image: url("../img/cart-footer.svg");
}
.address{
	margin-top: 28px;
}

.footer-menu-nav
{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	right: 0;
  justify-content: space-between;
  width: 480px;
}

.footer_user_product a{
		line-height: 36px;
		color: #ffffff;
	}

	.footer_user-navigation a,
	.footer-product-nav a
	{
		display: block;
		height: 30px;
		color: #fff;
	}


	.footer_user-navigation li:first-child{
		margin-right: 20px;
	}
.footer_user-navigation li.login-item
	{
		margin-right: 40px;
	}

	.footer_user-navigation li.compare-item
	{
		margin-right: 35px;
	}


.footer-product-nav
{
	display: flex;
	flex-wrap: wrap;
	width: 211px;

}



	.footer_serv_dev{
		text-align: center;
	}
	.footer-coopyright{
		margin-top: 82px;
	}


.footer-coopyright-and-nav{
	position: relative;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
	min-width: 333px;
	color: #fff;
	text-align: right;


}

.footer_user_product{
	float: right;
}

.footer_user_product li{
	display: inline-block;
	margin-right: 38px;
}

.footer_user_product li:last-child
{
	margin-right: 0;
}

.footer-contacts-and-logo .logotype:hover,
 .footer-social-and-services li:hover,
  .footer-logo:hover,
  .footer-logo:hover
{
	opacity: 0.6;
	cursor: pointer;
}
.footer-contacts-and-logo .logotype:active,
 .footer-social-and-services li:active,
 .footer-logo:active,
 .footer-logo:active

{
	opacity: 0.3;
}
.footer-logo{
	height: 34px;
}



.footer_user-navigation .login-item a:hover

{
	opacity: 1;
}
.footer_user-navigation a:active{
	opacity: 0.3;
}

.footer_user-navigation .account-item a:hover,
.footer_social li:hover,
.footer-product-nav a:hover
{
	opacity: .6;
}
.footer_user-navigation a:active,
.footer_social li
{
	opacity: .3;
}

.footer_social li:active{
	opacity: .1;
}


		/*----------------footer----end----------*/
	


	


