@font-face {
		font-family:'Gilroy ExtraBold';
		src: 
		
		url("../fonts/Gilroy_ExtraBold/Gilroy-ExtraBold.woff") format('woff');
	}

* {
  padding: 0;
  margin: 0;
}

html, body {
/*  width: 100%;
  height: 100%;*/
  overflow-x: hidden;
}

body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color:#000000;
	font-family:'Open Sans Light', Arial, sans-serif;
	background-color: #ffffff;
	letter-spacing: 0.01em;

	}
		/*---header-------------start--------------*/


	a{
		text-decoration: none;
	}
	

	.main-header{
		
	color:#000000;

	
	}

.main-header.container{
		margin: 40px auto 35px;
}

	.container{
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;

	}



	.main-navigation{
		display: flex;
		flex-direction: column;
		background-color: #f7e296;
		padding: 0 60px 0 60px;
		min-height:188px;
	}

  	.main-navigation a{
  		color: #000;
  	}
	.main-navigation a.main-header-logo{
		color: #000000;
		width: 200px;
		align-self: flex-start;
		margin-top: -25px;
		margin-bottom: 12px;
		display: block;
		
	}

	.main-navigation .logotype, 
	footer .logotype
	{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		text-transform: uppercase;
		font-weight: bold;
		
	}

	.search-and-user-links-wrap{
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		min-height: 16px;
		align-items: center;
	}


.header_user-and-product-nav{

	margin-left: auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 220px;

}

.footer-menu-nav svg 
{
	fill: #ffc600;
}


 a.login-link,
 a.compare-link
 {
	  position: relative;
		padding-left: 25px;
 }

 a.cart-link
	{
		position: relative;
		padding-left: 25px;
	}

 .login-link svg,
 .compare-link svg,
 .cart-link svg

{
		position: absolute;
		top: 50%;
		margin-top: -6px;
  	left: 0;

}
		.catalog-list-title
	{
		position: relative;
		display: block;
		width: 247px;
	}
.drop-down-menu:hover,
.catalog-list-title:hover +.drop-down-menu{
	display: flex;
}

.product-item-list{
	margin: 0;
	padding: 0;
}



ul.drop-down-menu 
{

	position: absolute;
	width: 1160px;
	min-height: 168px;
	top: 20px;
	left: -60px;
  padding: 25px 60px;
  background-color: #f7e296;
	display: flex;
/*	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;*/
	flex-wrap: wrap;
	box-sizing: border-box;
	display: none;
	z-index: 10;

}

ul.drop-down-menu li:first-child,
ul.drop-down-menu li:nth-child(5n+1)
{
	width: 240px;
}
/*ul.drop-down-menu li:nth-child(n+6)
{
	margin-top: 20px;
}*/



 ul.drop-down-menu li{

	display: flex;
	flex-direction: column;
	min-width: 200px;

}


.drop-down-menu li a{
	letter-spacing: 0.01em;
	font-size: 15px;
	line-height: 36px;
	font-weight: normal;
	text-transform: inherit;
	font-family: "Open Sans Light", Arial, sans-serif;
}


	.site-navigation a,a.catalog-list-title{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 18px;
		line-height: 18px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
s

	}

a.catalog-list-title
{
	line-height: 24px;
}

	.catalog-list-title:before,
		.catalog-list-title:after
{
		content: '';
		position: absolute;
		width: 16px;
		height: 2px;
		background-color: #000;
		top: 10px;
		right:0px;
		opacity: .3;
}

	.catalog-list-title:after 
	{

		transform:rotate(90deg);

	}


.catalog-and-site-nav-links-wrap{
	display: flex;
	line-height: 24px;
	min-height: 24px;
	margin-bottom: 50px;
	position: relative;
}

.site-navigation{
	width: 500px;
	display: flex;
	margin-left: auto;
	flex-wrap: wrap;
	letter-spacing: 0.2em;

}


.site-navigation li:nth-child(3n+1)
{
	margin-right: 39px;
}
.site-navigation li:nth-child(3n+3)
{
	margin-left: auto;
}



	.btn-details  {
		min-width: 220px;

	}
	a.button{
		display: inline-block;
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
		line-height: 24px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		background-image: linear-gradient(transparent 0%, transparent 40%,
		  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );
		margin-left: 100px;
		padding: 10px 5px;		
		color: #000000;
		text-align: center;


	}
	.button:focus,.button:hover{

		animation-name: button_full_color;
		animation-duration: 150ms;
		animation-fill-mode: both;
	}

	.button:active{
		color: rgba(0,0,0,0.3);
		opacity: 0.8;
	}


@keyframes button_full_color
{

0% {
			background-image: linear-gradient(transparent 0%, transparent 40%,
		  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );

}
20% {
			background-image: linear-gradient(transparent 0%, transparent 35%,
		  #f0c52e 35%,  #f0c52e 65%, transparent 65%, transparent 100% );
}

40% {
			background-image: linear-gradient(transparent 0%, transparent 25%,
		  #f0c52e 25%,  #f0c52e 70%, transparent 70%, transparent 100% );
}


80%{
			background-image: linear-gradient(transparent 0%, transparent 15%,
		  #f0c52e 15%,  #f0c52e 85%, transparent 85%, transparent 100% );
}
100%{
				background-image: linear-gradient(#f0c52e 0%, #f0c52e 40%,
		  	#f0c52e 40%,  #f0c52e 60%, #f0c52e 60%, #f0c52e 100% );


}

}

	form.search-form{
		font-size: 0;
		position: relative;

  	width: 500px;
    letter-spacing: 0;
   

	}

	form.search-form button{
		display: none;
	}

	form.search-form button:hover{
		background-color: #000;
		color: #fff;
	}


	form.search-form button:active{

	  background-color: #000;
		color: rgba(255, 255, 255, .3);

	}



	input.search-field
	{
      	
      width: 355px;
      font-size: 15px;
      line-height: 30px;
      padding: 9px 0px 7px 40px;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 2px solid transparent;
      box-sizing: border-box;
      outline: 0;

   		    
	}


		form.search-form input:focus
	{
		border-bottom: 2px solid #000;

	}


  form.search-form input::placeholder{
		color:rgba(0, 0, 0, 0.3);
		font-size: 15px;

	}


button.btn-search-submit
   {

			border: 2px solid #000;
			background-color:rgba(0, 0, 0, 0);
			color: #000;
			padding: 7px 19px;
	   	font-size: 15px;
    	line-height: 30px;
    	outline: 0;
    	letter-spacing: 0.01em;
    	cursor: pointer;


}

form.search-form input:focus ~ button.btn-search-submit
{
	 
	 display: inline-block;
	}

	.header-user-navigation{
		display: flex;
		width: 225px;
		justify-content: space-between;
		margin-left: 40px;
	}

	.header-user-navigation li.logout-item a
	{

opacity: .3;
	}


.header-user-navigation >li >a,
.header_user-and-product-nav > li > a{
	display: block;
	line-height: 30px;

}

	.main-navigation a:hover,
	.navbar-search input:hover::placeholder{
		opacity: 0.6;
	}
	
	.main-navigation a:focus,
	.navbar-search input:focus::placeholder
	
	{
		opacity: 0.3;
	}
  .header_user_product{
  	padding-left: 0;
  }


a.catalog-list-title{
	margin-left: 0;
}

	.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
	}


	img{
		max-width: 100%;
		height: auto;
	}



.icon{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;

}


.search-product-icon{
	position: absolute;
	top: 50%;	
	left: 2px;
	margin-top: -9px;
	}


	/*-------------header---ends--------------*/


	/*----------------main-container----start----------*/

/*-----------------------------------------------------*/	
	.container h1{
		margin: 0;
		padding: 0;
		font-family: "Gilroy Extra Bold", Arial, sans-serif;
		font-size: 47px;
		line-height: 48px;
		letter-spacing: 1px;
		margin-bottom: 29px;
		padding-left: 60px;


	}
section.filter_product{
	background-color: #efefef;
	width: 330px;

	position: relative;
}
section.filter_product:after{
position: absolute;
content: "";
background-color: #efefef;
height: 100%;
width: 1000%;
right: 100%;
top: 0;

}

	ul.breadcrumbs {
		font-size: 14px;
		line-height: 24px;
		list-style: none;
		margin-bottom: 50px;
		padding-left: 60px;
		
	}
	ul.breadcrumbs a{
		color: rgba(0,0,0,0.3);
	}
	ul.breadcrumbs a:hover{
		color: rgba(0,0,0,0.6);
	}
	ul.breadcrumbs a:active{
		color: rgba(0,0,0,0.1);
	}


.breadcrumbs li{
	position: relative;
	display: inline-block;
	margin-right: 40px;
}

.breadcrumbs li:last-child{

	margin-right: 0;
}

.breadcrumbs li:after{
position: absolute;
content: "";
top: 10px;
right: -23px;
width: 5px;
height: 8px;
background-image: url("../img/nav-arrow-1.svg");
background-repeat: no-repeat;
background-position: 0 0;

}
.breadcrumbs-current
{
	opacity: .3;
}


.breadcrumbs-current:after
{
	display: none;

}
.catalog-columns{
	display: flex;
	
}
.sorter-filter-title{
		background-color: #efefef;
		height: 100px;
}

.range-controller
{
	position: relative;
	margin-bottom: 18px;
}


.scale{
	height: 2px;
	width: 100%;
	background-color: #dbdbdb;
}

.bar{
	width: 60%;
	height: 2px;
	background-color: #91c92f;
}

.toggle
{
	position: absolute;
	padding: 0;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background-color: #ababab;
	border-radius: 50%;
	top: -10px;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.toggle-min
{
	left: 0;
}


.toggle-max
{
	left: 60%;
}

.price-controls
{
	font-size: 0;
}

.price-controls label{
	display: inline-block;
  width: 45%;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, .2);
	font-family: "Gilroy Light", Arial, sans-serif;


}



.price-controls  input{
	margin-left: 5px;

	width: 50px;
	border: none;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, .2);
	background-color: transparent;


}

/*.range-filter
{
	margin-top: 33px;
	margin-bottom: 33px;

}
*/
.range-price label, .range-price input{
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,0.2);

}

form.filter{
	margin-top: 70px;
	padding-left: 60px;
	padding-right: 70px;
}


.filter fieldset{

	border: 0;
/*	position: relative;*/


}

fieldset.color-product
{
	padding-bottom: 38px;
}



.filter_product_title{

 position: relative;

}

.filter_product_title:after{
	position: absolute;
	content: "";
	width: 100vw;
	right: 100%;
	top: 0;
	height: 70px;
	background-color: #dbdbdb;
	z-index: 111;
}


.filter_product .filter_product_title{

 font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	background-color: #dbdbdb;
	margin: 0;
	height: 48px;
	padding-top: 22px;
	padding-left: 60px;
	text-transform: uppercase;
	letter-spacing: 0.2em;



}

.filter_product legend{
	font-family: "Gilroy Extra Bold", Arial, sans-serif;
	font-size: 18px;
	border-top: 2px solid #000;
	padding-top: 10px;
	line-height: 24px;
	font-weight: 800;
	width: 100%;
	margin-bottom: 33px;




}

.filter_product ul{

   list-style: none;

}


.filter_product input[type="checkbox"], input[type="radio"]{
	opacity: 0;
}



.filter-option{
	padding-left: 40px;
	position: relative;
}

.color-product input[type="checkbox"] + label::before{
	position: absolute;
	top: 9px;
	left: 0;
	cursor: pointer;
	content: "";
	width: 24px;
	height: 24px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}



.color-product input[type="checkbox"]:checked + label::before{
	position: absolute;
	top: 10px;
	left: 0;
	width: 27px;
	height: 24px;
	background-image: url("../img/checkbox-on.svg");
}


.color-product input[type="checkbox"]:checked + label:hover::before,
.color-product input[type="checkbox"] + label:hover::before
{
	opacity: 0.6;
}


.color-product input[type="checkbox"][disabled] + label,
 .color-product input[type=checkbox][disabled][checked] + label{
	
	color:#a6a6a6;
}


.color-product input[type="checkbox"][disabled] + label:before,
.color-product input[type="checkbox"][disabled][checked] + label:before {
       opacity: 0.25;
}





.bluetooth input[type="radio"] + label::before{
	position: absolute;
	top: 8px;
	left: 0;
	content: "";
	width: 27px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
}

.bluetooth input[type="radio"]:checked + label::before{
	position: absolute;
	width: 27px;
	height: 25px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
}

.bluetooth input[type="radio"] + label:hover::before{
	opacity:0.6 ;
}


.bluetooth input[type="radio"][checked] + label:active::before{
	background-image: url("../img/radio-off.svg");

}
.bluetooth input[type="radio"] + label:active::before{
	background-image: url("../img/radio-on.svg");
	opacity: 1;
	
}

.bluetooth input[type="radio"][disabled][checked] + label,
.bluetooth input[type="radio"][disabled] + label
{
	
	color: #000000;
}

.bluetooth
{
	margin-bottom: 30px;
}


.form-control option:hover{
	opacity: 0.5;
}


.filter-option label{
		font-family: 'Open Sans Light', Arial, sans-serif;
		font-size: 14px;
		line-height: 40px;
}


.sort-product ul{
	list-style: none;

}
.sorter h2{
	padding-top: 22px;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size:16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

}
.sort-product .sorter{
	display: flex;
	background-color: #efefef;
	padding-left: 72px;
	height: 70px;
	position: relative;
	margin-bottom: 69px;
}
.sort-product .sorter:after{
	position: absolute;
	content: "";
	background-color: #efefef;
	width: 1000%;
	left: 100%;
	height: 70px;

}

.sort-list{
	display: flex;
	margin-top: 18.6px;
	margin-bottom: 18.6px;
	margin-left: 56px;
}
.sort-list li{
	margin-right: 32px;
}
.sort-list li:first-child{
	margin-right: 30px;
}
.sort-list li:last-child{
	margin-right:0;
}

.sort-link-group.pull-right{
	display: flex;
	margin-left: auto;
	align-items: center;
}

.sort-by-increase,
.sort-by-decrease
 
{
	border-left: 5px solid transparent;
	border-right: 6px solid transparent;
	opacity: .2;
	font-size: 0;
	letter-spacing: 0;
	height: 0;

}

.sort-by-increase
{
	border-top: none;
	border-bottom: 10px solid #000;
	margin-right: 20px;
}

.sort-by-decrease 
{
	border-top: 10px solid #000;
	border-bottom: none;

}
.sort-link-group .active
{
	opacity: 1;
}





.catalog-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.sort-product .catalog{
	padding-left: 72px;
	width: 760px;

}
.title-container{
	width: 1160px;
	margin: auto;
}

.sort-product .sort-list a{

	color: rgba(0,0,0,0.3);
	font-family: "Open Sans Regular", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.sort-list .active a
{
	color: #000;
}

.sort-product .sort-list a:hover{
	color: rgba(0,0,0,0.6);
}
.sort-product .sort-list a:active{
	color: inherit;
}

.btn-group.pull-right button{
	background-color: transparent;
	border:none;
}

.btn-group.pull-right button img{
	opacity: 0.2;
}

.btn-group.pull-right button:hover img{
	opacity: 0.4;
}

.btn-group.pull-right button:active img{
	opacity: 1;
}

.btn-sort.btn-sort-down.active img{
	opacity: 1;
}


	button.button  {
		border:none;
		background-color: transparent;
		min-width: 190px;

	}

	button.button{
		display: inline-block;
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		background-image: linear-gradient(transparent 0%, transparent 40%,
		  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );
		padding: 8px 37px 8px 36px;		
		color: #000000;
		text-align: center;
		
	}



	button:hover,
	button:focus,
	{
	  transition: .12s;
		background-color: #f0c52e;
	}


	button.button:active{
		color: rgba(0,0,0,0.3);
		opacity: 0.8;
	}

    .catalog .catalog-list{
    	list-style: none;
    }
  

     .add-cart-hover a{
     	color: #000;
     }

     .add-cart-hover a:hover
     {
    	color: rgba(0,0,0,0.2);
     }

   
	 .add-cart-hover
	 {
	 	   position: absolute;
	 	   top: 0;
	 	   left: 0;
	 	   padding-top: 152px;
	     display: none;
		   width: 100%;
	 	   height: 228px;
		   text-align: center;
		   background-color: rgba(238, 238, 238, 0.7);
       cursor: pointer;
	   
	   }

	  .catalog-item:hover .add-cart-hover,
	  .catalog-item:focus .add-cart-hover

  {
  	    display: block;
  	 
	}
	 .add-cart-hover button.add-compare
	 {
	 		border: none;
	 		background-color: transparent;
	 		color:rgba(0, 0, 0, .5);
	 }
	  .add-cart-hover button.add-compare:hover
	  {
	  		color: rgba(0, 0, 0, 1.0);
	  }

  img
  {
  	 max-width: 100%;
   	 height: auto;
  }

.catalog-item .catalog-item-title{
	color: #000000;
	font-family: "Gilroy Extra Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;

}

   
.catalog-item-price
 {
font-family: "Gilroy-Light", Arial, sans-serif;
font-size: 14px;
line-height: 24px;
color: #464646;

}

.title-and-price-wrapper
{
	display: flex;
	justify-content: space-between;
	order: 1;

}

.catalog-item-image img.img-icon-new{
	width: 60px;
	height: 60px;
}


.catalog-item{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 360px;
	margin-right: 40px;

}
.catalog-item:nth-child(2n)
{
	margin-right: 0;
}

.catalog-item h3
{
	width: 280px;
}


 .catalog-item-image{

 	width: 360px;
 	height: 380px;
 	margin-bottom: 31px;
 	position: relative;

 } 

.icon-new{
    position: absolute;
    right: 29px;
    top: 29px;
    border: 2px solid #d6d6d6;
    width: 56px;
    height: 42px;
    text-align: center;
    font-size: 14px;
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    padding-top: 14px;
}
.catalog-list li
{
	margin-bottom: 72px;
}

.catalog-list li:nth-last-child(-n + 2)


{
	margin-bottom: 56px;
}


	/* -----:nth-last-child(2)----------------pagination	*/

.pagination ul{
	  list-style: none;
}
.pagination ul a{
	  font-family: "Gilroy Extra Bold", Arial, sans-serif;
		font-size: 16px;
		
		color: rgba(0,0,0,0.3);
}

.pagination ul a:hover{
	color: rgba(0,0,0,0.6);
}
.pagination ul a:active{
	color: rgba(0,0,0,1);
}

.pagination{

	height: 100px;
	width: 760px;
	height: 70px;
	padding-left: 72px;
	margin-bottom: 77px;

}

.pagination-block{

	display: flex;
	justify-content: space-between;
	background-color: #ebebeb;
	
}

.btn-pagination{
	border:none;
	background-color: transparent;
	font-family: "Gilroy Extra Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 900;
	text-transform: uppercase;
	width: 110px;
	height: 60px;

}

.btn-pagination:hover{
	background-color:#d9d9d9;
}

.btn-pagination:active{
	color: rgba(0,0,0,0.3);
}


.btn-pagination.btn-back{
	left: 1px;
	
}
.btn-pagination.btn-next{

	right: 1px;
}

.pagination-list{
	margin-top: 20px;
}

.pagination-list li{
	width: 40px;
	display: inline-block;
}


.pagination-list .pagination-item-current{
	color: #000000;
}
/* ---------------------pagination	*/
/*




	/*----------------main-container----end----------*/


		/*----------------footer----start----------*/

.main-footer{
		height: 320px;
		background-color: #464646;
		box-sizing: border-box;
		padding-top: 60px;
	}


	footer .logotype{
		color: #ffc600;
		margin-bottom: -75px;
		line-height: 38px;
	}



	.main-footer .container{
		display: flex;
		justify-content: space-between;
		height: 204px;

	}

.footer_contacts_line{
	display: inline-block;
	margin: 0;
	width: 40%;
	background-color: #ffc600;
	height: 6px;
	border: none;
	margin-bottom: 12px;

	
}
.footer-contacts-and-logo{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 300px;
	color: #fff;

}


	.footer-contacts .logotype{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		color: #ffc600;
		text-transform: uppercase;
		font-weight: bold;

	}

	.footer-social-and-services{
		text-align: center;
		width: 440px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

.footer_services a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		list-style: none;

	}
	.footer_services{
		list-style: none;
		padding-left: 0;
		margin-top: 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

	}
		

	.footer_social{
	
		font-size: 0;
		padding-left: 0;
		margin-top: 50px;
		height: 34px;

	}
	.footer_social li
	{
		display: inline-block;
		margin-right: 22px;
	}

	.footer_social li:last-child{
		margin-right: 0;
	}


 	.footer_social li:nth-child(n+1){
 	}
.footer_user-navigation
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 230px;

}

.address{
	margin-top: 28px;
}

.footer-menu-nav
{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	right: 0;
  justify-content: space-between;
  width: 480px;
}

.footer_user_product a{
		line-height: 36px;
		color: #ffffff;
	}

	.footer_user-navigation a,
	.footer-product-nav a
	{
		display: block;
		height: 30px;
		color: #fff;
	}



	.footer_user-navigation li.compare-item
	{
		margin-right: 35px;
	}


.footer-product-nav
{
	display: flex;
	flex-wrap: wrap;
	width: 211px;
	justify-content: space-between;

}



	.footer_serv_dev{
		text-align: center;
	}
	.footer-coopyright{
		margin-top: 82px;
	}


.footer-coopyright-and-nav{
	position: relative;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
	min-width: 333px;
	color: #fff;
	text-align: right;


}

.footer_user_product{
	float: right;
}

.footer_user_product li{
	display: inline-block;
	margin-right: 38px;
}

.footer_user_product li:last-child
{
	margin-right: 0;
}

.footer-contacts-and-logo .logotype:hover,
 .footer-social-and-services li:hover,
  .footer-logo:hover,
  .footer-logo:hover
{
	opacity: 0.6;
	cursor: pointer;
}
.footer-contacts-and-logo .logotype:active,
 .footer-social-and-services li:active,
 .footer-logo:active,
 .footer-logo:active

{
	opacity: 0.3;
}
.footer-logo{
	height: 34px;
}



.footer_user-navigation .login-item a:hover

{
	opacity: 1;
}
.footer_user-navigation a:active{
	opacity: 0.3;
}

.footer_user-navigation .account-item a:hover,
.footer_social li:hover,
.footer-product-nav a:hover
{
	opacity: .6;
}
.footer_user-navigation a:active,
.footer_social li
{
	opacity: .3;
}

.footer_social li:active{
	opacity: .1;
}


		/*----------------footer----end----------*/
	


	


